---
layout: page
title: Festa Trail
permalink: /
---

<body class="index-page">

  {% include header.html mode="fixed" %}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{{'/assets/img/races/17/photo.jpg' | relative_url }}" alt="" data-aos="fade-in" class="">

      <div class="container d-flex flex-column align-items-center text-center mt-auto">
        <h2 data-aos="fade-up" data-aos-delay="100" class="">FESTA TRAIL <span>2026</span></h2>
        <p data-aos="fade-up" data-aos-delay="200">du 15 au 17 mai, à Saint-Mathieu de Tréviers, Occitanie</p>
      </div>

      <div class="about-info mt-auto position-relative">

        <div class="container position-relative" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6">
              <h2>Lo Festa Trail, qu’es aquò ?</h2>
              <p>Le Festa Trail Pic Saint-Loup est un grand rendez-vous trail en Occitanie, organisé autour du massif du Pic Saint-Loup et de l’Hortus, avec départ/arrivée à Saint-Mathieu-de-Tréviers (Hérault, 34).
                Des parcours sauvages, techniques et panoramiques.
                Du format découverte à l’ultra, une épreuve pour chaque niveau, un défi pour chacun.
              </p>
            </div>
            <div class="col-lg-6">
              <div class="hero-actions">
                <a class="btn btn-cta" href="#races">Choisir votre course</a>
                <a class="btn btn-cta btn-outline" href="{{ site.data.links.pages.programme | relative_url }}">Programme</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->
    
    
    <!-- Races Section -->
    <section id="races" class="races section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p>Différents formats, différents défis. Choisissez vôtre course!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-4">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/105/photo.jpg' | relative_url }}" alt="Ultra Draille" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-105.jpg" alt="105k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Ultra Draille</h4>
                    <p class="race-title">En solo ou en relais</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-quotes">
                  <img src="assets/img/badges/utmb-100k.png" alt="utmb 100" class="img-fluid">
                  <img src="assets/img/badges/itra-5.png" alt="itra 5" class="img-fluid">
                  <img src="assets/img/badges/montagne-6.png" alt="montagne 6" class="img-fluid">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Samedi 16 mai 2026 à 6:30</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Brissac</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.ultra-draille | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/65/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-65.jpg" alt="65k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Hérault trail</h4>
                    <p class="race-title">En solo</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-quotes">
                  <img src="assets/img/badges/utmb-50k.png" alt="" class="img-fluid">
                  <img src="assets/img/badges/itra-3.png" alt="" class="img-fluid">
                  <img src="assets/img/badges/montagne-5.png" alt="" class="img-fluid">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Samedi 16 mai 2026 à 8:30</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Brissac</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.herault-trail | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/44/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-44.jpg" alt="44k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Marathon de l'Hortus</h4>
                    <p class="race-title">En solo ou en relais</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-quotes">
                  <img src="assets/img/badges/utmb-50k-qualifier.png" alt="" class="img-fluid">
                  <img src="assets/img/badges/itra-2.png" alt="" class="img-fluid">
                  <img src="assets/img/badges/montagne-4.png" alt="" class="img-fluid">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Dimanche 17 mai 2026 à 7:00</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Claret</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.marathon-hortus | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="350">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/24/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-24.jpg" alt="24k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Tour du Pic</h4>
                    <p class="race-title">En solo</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Dimanche 17 mai 2026 à 9:00</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Saint-Mathieu de Tréviers</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.tour-pic | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/17/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-17.jpg" alt="17k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Duo du Pic</h4>
                    <p class="race-title">En duo</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Samedi 16 mai 2026 à 12:00</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Saint-Martin-de-Londres</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.duo-pic | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="450">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/13/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-13.jpg" alt="13k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Cécélienne - Les déesses muettes</h4>
                    <p class="race-title">En solo</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Samedi 16 mai 2026 à 18:30</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Saint-Mathieu de Tréviers</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.cecelienne | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="450">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/6/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-7.jpg" alt="13k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">La P'tite Boucle</h4>
                    <p class="race-title">En solo</p>
                  </div>
                  <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Dimanche 17 mai 2026 à 10:00</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Saint-Mathieu de Tréviers</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.ptite-boucle | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="450">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/mn/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-13.jpg" alt="7k" class="img-fluid">
                  <div class="race-main">
                    <h4 class="race-name">Marche Nordique</h4>
                    <p class="race-title">En solo</p>
                  </div>
                </div>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> Samedi 16 mai 2026 à 18:30</div>
                  <div><i class="bi bi-geo-alt"></i> Départ:  Saint-Mathieu de Tréviers</div>
                  <div><i class="bi bi-flag"></i> Arrivée: Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.marche-nordique | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="450">
            <div class="race-card">
              <div class="race-image">
                <img src="{{'/assets/img/races/pp/photo.jpg' | relative_url }}" alt="Speaker" class="img-fluid">
              </div>
              <div class="race-content">
                <div class="race-info d-flex align-items-center">
                  <img src="assets/img/badges/festa-1.jpg" alt="1k" class="img-fluid">
                  <img src="assets/img/badges/festa-1.5.jpg" alt="1,5k" class="img-fluid">
                  <img src="assets/img/badges/festa-3.jpg" alt="3k" class="img-fluid">
                  <img src="assets/img/badges/festa-5.jpg" alt="5k" class="img-fluid">
                  <div class="race-main">
                  </div>

                </div>
                <h4 class="race-name">Les Pitchou'Pics</h4>
                <div class="race-details">
                  <div><i class="bi bi-calendar-event"></i> samedi 16 mai 2026 à partir de 10:00</div>
                  <div><i class="bi bi-geo-alt"></i> Saint-Mathieu de Tréviers</div>
                </div>

                <div class="race-session">
                  <a class="session-topic" href="{{ site.data.links.races.pitchou-pic | relative_url }}">En savoir plus</a>
                </div>
              </div>
            </div>
          </div><!-- End Speaker Card -->

        </div>

      </div>

    </section><!-- /Races Section -->

    <!-- Schedule Section -->
    <section id="schedule" class="schedule section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Partenaires</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->



    </section><!-- /Schedule Section -->
    
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>