<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-3 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Festa trail">
        </a>
        <div class="footer-contact pt-3">
          <p class="mt-3"><strong>Téléphone:</strong> <span>{{ site.data.contact.phone }}</span></p>
          <p><strong>Email:</strong> <span>{{ site.data.contact.mail }}</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="{{ site.data.links.social.facebook}}"><i class="bi bi-facebook"></i></a>
          <a href="{{ site.data.links.social.instagram}}"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Liens utiles</h4>
        <ul>
          <li><a href="{{ site.data.links.pages.home | relative_url }}">Accueil</a></li>
          <li><a href="{{ site.data.links.pages.programme | relative_url }}">Programme</a></li>
          <li><a href="{{ site.data.links.pages.inscriptions | relative_url }}">Inscriptions</a></li>
          <li><a href="{{ site.data.links.legal.cookies | relative_url }}">Cookies</a></li>
          <li><a href="{{ site.data.links.legal.mention-legales | relative_url }}">Mentions légales</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Courses</h4>
        <ul>
          <li><a href="{{ site.data.links.races.ultra-draille | relative_url }}">105km - Ultra Draille</a></li>
          <li><a href="{{ site.data.links.races.herault-trail | relative_url }}">65km - Hérault Trail</a></li>
          <li><a href="{{ site.data.links.races.marathon-hortus | relative_url }}">44km - Marathon de l'Hortus</a></li>
          <li><a href="{{ site.data.links.races.tour-pic | relative_url }}">24km - Tour du Pic</a></li>
          <li><a href="{{ site.data.links.races.duo-pic | relative_url }}">17km - Duo du Pic</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>&nbsp;</h4>
        <ul>
          <li><a href="{{ site.data.links.races.cecelienne | relative_url }}">13km - Cécélienne les Déesse Muettes</a></li>
          <li><a href="{{ site.data.links.races.marche-nordique | relative_url }}">13km - Marche Nordique</a></li>
          <li><a href="{{ site.data.links.races.ptite-boucle | relative_url }}">7km - La P'tite Boucle</a></li>
          <li><a href="{{ site.data.links.races.pitchou-pic | relative_url }}">Pitchou'Pics</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you've purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

</footer>