{% assign header_mode = include.mode | default: "sticky" %}

<header id="header" class="header d-flex align-items-center {% if header_mode == "fixed" %} fixed-top {% else %} sticky-top {% endif %}">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Festa Trail">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li class="dropdown"><a href="{{ site.data.links.pages.home | relative_url }}#races"><span>Courses</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li><a href="{{ site.data.links.races.ultra-draille | relative_url }}">105km - Ultra Draille</a></li>
                        <li><a href="{{ site.data.links.races.herault-trail | relative_url }}">65km - Hérault Trail</a></li>
                        <li><a href="{{ site.data.links.races.marathon-hortus | relative_url }}">44km - Marathon de l'Hortus</a></li>
                        <li><a href="{{ site.data.links.races.tour-pic | relative_url }}">24km - Tour du Pic Saint Loup</a></li>
                        <li><a href="{{ site.data.links.races.duo-pic | relative_url }}">17km - Duo du Pic</a></li>
                        <li><a href="{{ site.data.links.races.cecelienne | relative_url }}">13km - Cécélienne les Déesse Muettes</a></li>
                        <li><a href="{{ site.data.links.races.marche-nordique | relative_url }}">13km - Marche Nordique</a></li>
                        <li><a href="{{ site.data.links.races.ptite-boucle | relative_url }}">7km - La P'tite Boucle</a></li>
                        <li><a href="{{ site.data.links.races.pitchou-pic | relative_url }}">Pitchou'Pics</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.data.links.pages.programme | relative_url }}">Programme</a></li>
                <li><a href="{{ site.data.links.pages.inscriptions | relative_url }}">Inscriptions</a></li>
                <li><a href="{{ site.data.links.pages.reglement | relative_url }}">Règlement</a></li>
                <li><a href="{{ site.data.links.pages.resultats | relative_url }}">Résultats</a></li>
                <li><a href="{{ site.data.links.pages.partenaires | relative_url }}">Partenaires</a></li>
                <li><a href="{{ site.data.links.pages.contact | relative_url }}">Contact</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="{{ site.data.links.pages.inscriptions | relative_url }}">S'INSCRIRE</a>

    </div>
</header>