<section id="sponsors" class="sponsors">

    <div class="container section-title">
        <h2>Partenaires territoriaux</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.heraultsport.fr" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/sport-herault.png' | relative_url }}" alt="Hérault Sport"></a>
            <a href="https://www.cc-grandpicsaintloup.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/com-psl.png' | relative_url }}" alt="Communauté de Communes du Grand Pic Saint-Loup"></a>
            <a href="https://www.laregion.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/region.jpg' | relative_url }}" alt="Région Occitanie"></a>
            <a href="http://www.herault.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/herault.jpeg' | relative_url }}" alt="Département de l'Hérault"></a>
            <a href="https://www.ville-saint-mathieu-de-treviers.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/st-mathieu.jpg' | relative_url }}" alt="Ville de Saint Mathieu de Tréviers"></a>
            <a href="https://cesml.com/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/cesml.jpg' | relative_url }}" alt="Compagnie d'électricité de Saint-Martin-de-Londres"></a>
            <a href="https://www.francebleu.fr/radio/herault" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/ici-herault.png' | relative_url }}" alt="France Bleu Hérault"></a>
        </div>
    </div>

    <div class="container section-title">
        <h2>Partenaires officiels</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.ergysport.com/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/ergysport.png' | relative_url }}" style="max-height: 70px;" alt="Ergy Sport"></a>
            <a href="https://www.intermarche.com/magasins/50312/saint-mathieu-de-treviers-34270/infos-pratiques" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/intermarche.png' | relative_url }}" alt="Intermarché"></a>
            <a href="http://www.vd3c.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/vignobles-3-chateaux.jpg' | relative_url }}" alt="Vignobles des 3 chateaux"></a>
            <a href="http://www.vd3c.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/deesses-muettes.png' | relative_url }}" alt="Les Déesees Muettes"></a>
            <a href="https://www.maif.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/maif.jpg' | relative_url }}" alt="MAIF"></a>
            <a href="https://www.auditionbribesherand.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/audition.png' | relative_url }}" alt="Audition Bribes Herand"></a>
            <a href="https://goxoa.co/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/goxoa.png' | relative_url }}" style="max-height: 70px;" alt="Goxoa"></a>
            <a href="https://www.sud.banquepopulaire.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/banque-populaire.png' | relative_url }}" alt="Banque Populaire"></a>
            <a href="https://www.patisserie-latour.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/la-tour.png' | relative_url }}" alt="Patisserie Latour"></a>
            <a href="https://www.mon-pic.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/mon-pic.png' | relative_url }}" alt="Mon Pic"></a>
            <a href="https://www.expertsportcoaching.com/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/expert-sport.png' | relative_url }}" alt="Expert Sport Coaching"></a>
        </div>
    </div>

    <div class="container section-title">
        <h2>Associations partenaires</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.rotarypicsaintloup.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/rotary.jpg' | relative_url }}" alt="Rotary Pic Saint-Loup"></a>
            <a href="https://www.smapsl.fr/" target="_blank" rel="noopener noreferrer"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/smapsl.jpg' | relative_url }}" alt="Saint Mathieu Athletic Pic Saint-Loup"></a>
            <img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/trailer-pic.jpeg' | relative_url }}" alt="Trailer Pic Saint-Loup">
        </div>
    </div>

</section>