<section id="sponsors" class="sponsors">

    <div class="container section-title">
        <h2>Partenaires territoriaux</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.heraultsport.fr" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/sport-herault.png' | relative_url }}"></a>
            <a href="https://www.cc-grandpicsaintloup.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/com-psl.png' | relative_url }}"></a>
            <a href="https://www.laregion.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/region.jpg' | relative_url }}"></a>
            <a href="http://www.herault.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/herault.jpeg' | relative_url }}"></a>
            <a href="https://www.ville-saint-mathieu-de-treviers.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/st-mathieu.jpg' | relative_url }}"></a>
            <a href="https://cesml.com/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/cesml.jpg' | relative_url }}"></a>
            <a href="https://www.francebleu.fr/radio/herault" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/territoriaux/ici-herault.png' | relative_url }}"></a>
        </div>
    </div>

    <div class="container section-title">
        <h2>Partenaires officiels</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.ergysport.com/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/ergysport.png' | relative_url }}" style="max-height: 70px;"></a>
            <a href="https://www.intermarche.com/magasins/50312/saint-mathieu-de-treviers-34270/infos-pratiques" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/intermarche.png' | relative_url }}"></a>
            <a href="http://www.vd3c.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/vignobles-3-chateaux.jpg' | relative_url }}"></a>
            <a href="http://www.vd3c.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/deesses-muettes.png' | relative_url }}"></a>
            <a href="https://www.maif.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/maif.jpg' | relative_url }}"></a>
            <a href="https://www.auditionbribesherand.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/audition.png' | relative_url }}"></a>
            <a href="https://goxoa.co/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/goxoa.png' | relative_url }}" style="max-height: 70px;"></a>
            <a href="https://www.sud.banquepopulaire.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/banque-populaire.png' | relative_url }}"></a>
            <a href="https://www.patisserie-latour.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/la-tour.png' | relative_url }}"></a>
            <a href="https://www.mon-pic.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/mon-pic.png' | relative_url }}"></a>
            <a href="https://www.expertsportcoaching.com/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/officiels/expert-sport.png' | relative_url }}"></a>
        </div>
    </div>

    <div class="container section-title">
        <h2>Associations partenaires</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="text-center">
            <a href="https://www.rotarypicsaintloup.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/rotary.jpg' | relative_url }}"></a>
            <a href="https://www.smapsl.fr/" target="_blank"><img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/smapsl.jpg' | relative_url }}"></a>
            <img class="sponsors-logo" src="{{ '/assets/img/sponsors/associations/trailer-pic.jpeg' | relative_url }}">
        </div>
    </div>

</section>