---
layout: page
title: "Festa Trail - Bénévolat"
description: "Devenez bénévoles au Festa Trail"
permalink: /benevolat/
---

<body class="terms-page">

{% include header.html %}

  <main class="main">

    <div class="page-title">

      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Festa</a></li>
            <li class="current">Bénévolat</li>
          </ol>
        </div>
      </nav>
    </div>


    <section id="benevolat" class="section">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="heading-title">Devenez bénévoles !</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              Disponibles, bienveillants et avec une incroyable énergie, ils sont plus de 350 bénévoles chaque année à faire vivre le Festa Trail ! Sans eux, rien ne serait possible !
            </p>
            <p>
              C’est grâce à leur efficacité et à l’ambiance chaleureuse et festive qu’ils font régner sur la manifestation que les trailers trouvent force et courage pour affronter les parcours exigeants et repartent avec un souvenir impérissable du Festa Trail.
            </p>
            <p>
              Un espace web est spécialement dédié aux bénévoles du Festa Trail.
              Vous pouvez dès à présent suivre les instructions en page d’accueil pour créer et consulter votre espace personnel, modifier ou compléter vos informations.
            </p>
            <p>
              Vous pouvez aussi nous informer dès à présent de votre participation et communiquer vos souhaits. Vous pourrez par la suite consulter en ligne votre feuille de route.
            </p>
            <a href="https://www.benevoles-festatrail.com/" class="btn btn-subscribe">Accéder à l'Espace Bénévoles</a>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="{{ '/assets/img/benevolat/benevoles.jpg' | relative_url }}">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="{{ '/assets/img/benevolat/benevoles-outdoor.jpg' | relative_url }}" style="margin-top: 30px;">
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="{{ '/assets/img/benevolat/benevoles-ravito.jpg' | relative_url }}" style="margin-top: 30px;">
          </div>

        </div>

      </div>
    </section>

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>