---
layout: page
title: Festa Trail - Ultra Draille
permalink: /ultra-draille/
---

<body class="race-page">

  {% include header.html %}

  <main class="main">

    <!-- Race Section -->
    <section id="race" class="race section">

      <div class="container">
        <div class="row">


          <div class="race-info-panel col-lg-3">
            <div class="race-info-header">
              <h3>Informations course</h3>
            </div>

            <dl class="race-dl">
              <dt>Distance</dt><dd>105 km</dd>
              <dt>Dénivelé +</dt><dd>4500 m</dd>
              <dt>Date</dt><dd>16/05/2026 à 6h30</dd>
              <dt>Départ</dt><dd>Brissac</dd>
              <dt>Arrivée</dt><dd>Saint-Mathieu-de-Tréviers</dd>
            </dl>

            <div class="race-info-header">
              <h3>Navette</h3>
            </div>

            <p>Pour vous rendre sur le départ de votre course, un service de navette est mis en place sur réservation au moment de votre inscription (uniquement pour le 1er coureur si relais).</p>

          </div>

          <div class="race-detail-panel col-lg-9">
            <div class="img-container">
              <img src="{{ 'assets/img/races/105/photo.jpg' | relative_url }}" alt="Ultra Draille" class="img-fluid">
            </div>

            <div class="detail-container">

              <div class="race-info d-flex align-items-center gap-3">
                <img src="{{ 'assets/img/badges/festa-105.jpg' | relative_url }}" alt="105k" style="height:90px" />
                <div>
                  <h2 class="mb-0">L'Ultra Draille, une aventure sportive et humaine</h2>
                  <p class="mb-0">En solo ou en relais de 5</p>
                </div>
              </div>

              <div class="race-quotes">
                <img src="{{ 'assets/img/badges/utmb-100k.png' | relative_url }}" alt="utmb 100" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/itra-5.png' | relative_url }}" alt="itra 5" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/montagne-6.png' | relative_url }}" alt="montagne 6" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/challenge-pic.jpg' | relative_url }}" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                <i>En solo: qualificatif pour UTMB (1OO M), 5 points ITRA / 6 points Montagne</i>
              </div>

            </div>

            <div class="detail-container">
              <h3>Détail de la course</h3>
              <img src="{{ 'assets/img/races/105/trace.jpg' | relative_url }}" alt="Tracé Ultra Draille" class="img-fluid">
              <!--iframe class="trail-trace" src="https://tracedetrail.fr/fr/iframe/8161" allowfullscreen loading="lazy"></iframe-->
              <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                   <tr>
                     <th scope="col">Point passage</th>
                     <th scope="col" title="Distance (km)">Distance</th>
                     <th scope="col" title="D+ cumulé (m)">Cumul D+</th>
                     <th scope="col" title="D- cumulé (m)">Cumul D-</th>
                     <th scope="col" title="Barrière horaire">B. hor.</th>
                     <th scope="col">Ravito</th>
                   </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Brissac</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>6h30</td>
                    <td>Petit déjeuner</td>
                  </tr>
                  <tr>
                    <td>Roc Blanc</td>
                    <td>8,3</td>
                    <td>800</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Saint-Jean-de-Buèges (R1->2)</td>
                    <td>16,8</td>
                    <td>952</td>
                    <td>842</td>
                    <td>11h00</td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Peyre Martine</td>
                    <td>21,8</td>
                    <td>1588</td>
                    <td>864</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Pégairolles-de-Buèges (R2->3)</td>
                    <td>26</td>
                    <td>1688</td>
                    <td>1451</td>
                    <td>13h30</td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Mas Aubert</td>
                    <td>35,6</td>
                    <td>2232</td>
                    <td>1526</td>
                    <td></td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Mont Saint Baudille</td>
                    <td>44</td>
                    <td>2705</td>
                    <td>1667</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Saint-Guilhem-Le-Désert (R3->4)</td>
                    <td>54,2</td>
                    <td>2905</td>
                    <td>2624</td>
                    <td>20h30</td>
                    <td>Base de vie</td>
                  </tr>
                  <tr>
                    <td>Mas Aubert</td>
                    <td>65</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Causse-de-la-Selle (R4->5)</td>
                    <td>79,5</td>
                    <td>4200</td>
                    <td>3861</td>
                    <td>2h30</td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Saint-Martin-De-Londres</td>
                    <td>89,5</td>
                    <td>4500</td>
                    <td>4166</td>
                    <td>5h00</td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Cazevieille</td>
                    <td>97,5</td>
                    <td>4827</td>
                    <td>4317</td>
                    <td></td>
                    <td>Ravitaillement</td>
                  </tr>
                  <tr>
                    <td>Saint-Mathieu-De-Tréviers</td>
                    <td>105,5</td>
                    <td>5089</td>
                    <td>4971</td>
                    <td>10h30</td>
                    <td>Ravitaillement</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>

            <div class="detail-container">
              <h3>Détail des relais</h3>
              <div class="table-responsive">
                <table id="detail-course" class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" title="Distance (km)">Distance</th>
                    <th scope="col" title="D+ cumulé (m)">Cumul D+</th>
                    <th scope="col" title="D- cumulé (m)">Cumul D-</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><b>Relais 1</b>: Brissac > Saint-Jean-De-Buèges</td>
                    <td>16,8</td>
                    <td>952</td>
                    <td>842</td>
                  </tr>
                  <tr>
                    <td><b>Relais 2</b>: Saint-Jean-De-Buèges > Pégairolles-de-Buèges</td>
                    <td>9,2</td>
                    <td>736</td>
                    <td>609</td>
                  </tr>
                  <tr>
                    <td><b>Relais 3</b>: Pégairolles-de-Buèges > Saint-Guilhem-le-Désert</td>
                    <td>28,2</td>
                    <td>1217</td>
                    <td>1173</td>
                  </tr>
                  <tr>
                    <td><b>Relais 4</b>: Saint-Guilhem-le-Désert > Causse-de-la-Selle</td>
                    <td>25,3</td>
                    <td>1295</td>
                    <td>1237</td>
                  </tr>
                  <tr>
                    <td><b>Relais 5</b>: Causse-de-la-Selle > Saint-Mathieu de Tréviers</td>
                    <td>26</td>
                    <td>889</td>
                    <td>1110</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section><!-- /Race Section -->


  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>