---
layout: page
title: "105 km - Ultra Draille - Festa Trail"
description: "Ultra Draille 105 km : course nature du Festa Trail, au cœur du Pic Saint-Loup"
permalink: /ultra-draille/

race:
  name: "Ultra Draille"
  startDate: "2026-05-16T06:30:00+02:00"
  location: "Brissac"
---

<body class="race-page">

  {% include header.html %}

  <main class="main">
    <section id="race" class="race section">
      <div class="container">
        <div class="row">

          <div class="race-info-panel col-lg-3">
            <div class="race-info-header">
              <h3>Informations course</h3>
            </div>

            <dl class="race-dl">
              <dt>Distance</dt><dd>105 km</dd>
              <dt>Dénivelé +</dt><dd>4500 m</dd>
              <dt>Date</dt><dd>16/05/2026 à 6h30</dd>
              <dt>Départ</dt><dd>Brissac</dd>
              <dt>Arrivée</dt><dd>Saint Mathieu de Tréviers</dd>
            </dl>

            <div class="race-info-header">
              <h3>Navette</h3>
            </div>
            <p>Pour vous rendre sur le départ de votre course, un service de navette est mis en place sur réservation au moment de votre inscription (uniquement pour le 1er coureur si relais).</p>

          </div>

          <div class="race-detail-panel col-lg-9">
            <div class="img-container">
              <img src="{{ 'assets/img/races/105/photo.jpg' | relative_url }}" alt="Ultra Draille" class="img-fluid">
            </div>

            <div class="detail-container">

              <div class="race-info d-flex align-items-center gap-3">
                <img src="{{ 'assets/img/badges/festa-105.jpg' | relative_url }}" alt="105k" style="height:90px" />
                <div>
                  <h2 class="mb-0">L'Ultra Draille, une aventure sportive et humaine</h2>
                  <p class="mb-0">En solo ou en relais de 5</p>
                </div>
              </div>

              <div class="race-quotes">
                <img src="{{ 'assets/img/badges/utmb-100k.png' | relative_url }}" alt="utmb 100" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/itra-5.svg' | relative_url }}" alt="itra 5" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/montagne-6.png' | relative_url }}" alt="montagne 6" class="img-fluid race-points">
                <img src="{{ 'assets/img/badges/challenge-pic.jpg' | relative_url }}" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
                <p>
                  <i>En solo: qualificatif pour UTMB 1OOK, 5 points ITRA / 6 points Montagne</i>
                </p>
              </div>

            </div>

            {% include trace.html data="races.ultra-draille-checkpoints" image="assets/img/races/105/trace.jpg" image_alt="Tracé Ultra Draille"%}
            {% include relais-table.html data="races.ultra-draille-relais" %}

          </div>

        </div>
      </div>
    </section>
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>