---
layout: page
title: Festa Trail - Pitchou'Pic
permalink: /courses-enfants/
---

<body class="race-page">

  {% include header.html %}

  <main class="main">
    <section id="race" class="race section">
      <div class="container">
        <div class="row">

          <div class="race-info-panel col-lg-3">
            <div class="race-info-header">
              <h3>Informations course</h3>
            </div>

            <dl class="race-dl">
              <dt>Distance</dt><dd>de 1 à 5 km</dd>
              <dt>Date</dt><dd>16/05/2026 à partir de 10h00</dd>
              <dt>Départ</dt><dd>Saint-Mathieu-de-Tréviers</dd>
              <dt>Arrivée</dt><dd>Saint-Mathieu-de-Tréviers</dd>
            </dl>

          </div>

          <div class="race-detail-panel col-lg-9">
            <div class="img-container">
              <img src="{{ 'assets/img/races/pp/photo.jpg' | relative_url }}" alt="Pitchou'Pic" class="img-fluid">
            </div>

            <div class="detail-container">

              <div class="race-info d-flex align-items-center gap-3">
                <div>
                  <h2 class="mb-0">Pitchou'Pic, libère ton énergie !</h2>
                </div>
              </div>

              <div class="race-info d-flex align-items-center gap-3" style="margin-top: 3em; margin-bottom: 3em;">
                <img src="{{ 'assets/img/badges/festa-1.jpg' | relative_url }}" alt="1k" style="height:90px" />
                <div>
                  <h2 class="mb-0">Pitchou'Pic 1</h2>
                  <p class="mb-0">Années de naissance 2017 - 2019</p>
                  <p class="mb-0" style="font-size: 16px; color: black;">Départ à 10h - Animation non chronométrée</p>
                </div>
              </div>

              <div class="race-info d-flex align-items-center gap-3" style="margin-bottom: 3em;">
                <img src="{{ 'assets/img/badges/festa-1.5.jpg' | relative_url }}" alt="1.5k" style="height:90px" />
                <div>
                  <h2 class="mb-0">Pitchou'Pic 2</h2>
                  <p class="mb-0">Années de naissance 2015 - 2016</p>
                  <p class="mb-0" style="font-size: 16px; color: black;">Départ à 10h30 - Animation non chronométrée</p>
                </div>
              </div>

              <div class="race-info d-flex align-items-center gap-3" style="margin-bottom: 3em;">
                <img src="{{ 'assets/img/badges/festa-3.jpg' | relative_url }}" alt="3k" style="height:90px" />
                <div>
                  <h2 class="mb-0">Pitchou'Pic 3</h2>
                  <p class="mb-0">Années de naissance 2013 - 2014</p>
                  <p class="mb-0" style="font-size: 16px; color: black;">Départ à 11h - Course chronométrée</p>
                </div>
              </div>

              <div class="race-info d-flex align-items-center gap-3" style="margin-bottom: 3em;">
                <img src="{{ 'assets/img/badges/festa-5.jpg' | relative_url }}" alt="5k" style="height:90px" />
                <div>
                  <h2 class="mb-0">Pitchou'Pic 5</h2>
                  <p class="mb-0">Années de naissance 2011 - 2012</p>
                  <p class="mb-0" style="font-size: 16px; color: black;">Départ à 11h30 - Course chronométrée</p>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
    </section>
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>