---
layout: page
title: Festa Trail - Contact
permalink: /ultra-draille
---

<body class="race-page">

  {% include header.html %}

  <main class="main">

    <!-- Race Section -->
    <section id="race" class="race section">

      <div class="container">
        <div class="row">


          <div class="race-info-panel col-lg-3">
            <div class="race-info-header">
              <h3>Informations course</h3>
              <p>Dignissimos deleniti accusamus rerum voluptate. Dignissimos rerum sit maiores reiciendis voluptate inventore ut.</p>
            </div>

            <div class="race-info-cards">
              <div class="info-card">
                <div class="icon-container">
                  <i class="bi bi-pin-map-fill"></i>
                </div>
                <div class="card-content">
                  <h4>Our Location</h4>
                  <p>4952 Hilltop Dr, Anytown, CA 90210</p>
                </div>
              </div>

            </div>
          </div>

          <div class="race-detail-panel col-lg-9">
            <div class="map-container">
              <img src="assets/img/trail/herault-trail-pouce.jpg" alt="Ultra Draille" class="img-fluid">
            </div>

            <div class="detail-container">
              <div class="race-info d-flex align-items-center">
                <img src="assets/img/badges/festa-105.jpg" alt="105k" class="img-fluid">
                <div class="race-main">
                  <h4 class="race-name">Ultra Draille</h4>
                  <p class="race-title">En solo ou en relais</p>
                </div>
                <img src="assets/img/badges/challenge-pic.jpg" alt="Challenge du Pic Saint Loup" class="ms-auto challenge-pic">
              </div>
              <div class="race-quotes">
                <img src="assets/img/badges/utmb-100k.png" alt="utmb 100" class="img-fluid">
                <img src="assets/img/badges/itra-5.png" alt="itra 5" class="img-fluid">
                <img src="assets/img/badges/montagne-6.png" alt="montagne 6" class="img-fluid">
              </div>


              <h3>L'Ultra Draille, une aventure sportive et humaine</h3>
              <p>C’est à Brissac que sera donné le départ de l’Ultra Draille. Et notre adage « courir pour découvrir » prendra tout son sens. Vous partirez à l’assaut du Roc Blanc au lever du soleil et le parcours vous permettra un voyage sur les crêtes de la Séranne ou du Monthaut aﬁn de proﬁter de paysages à couper le souﬄe. Mais du souﬄe, il faudra en avoir pour cheminer sur nos drailles, ces anciens sentiers de transhumance, où le caillou est roi ! Un beau déﬁ à relever !</p>
            </div>

            <div class="detail-container">
              <h3>Détail de la course</h3>
              <img src="assets/img/races/105/trace.jpg" alt="Tracé Ultra Draille" class="img-fluid">
              <!--iframe class="trail-trace" src="https://tracedetrail.fr/fr/iframe/8161" allowfullscreen loading="lazy"></iframe-->

              <table class="table table-hover table-striped">
                <thead>
                 <tr>
                   <th scope="col">Point passage</th>
                   <th scope="col" title="Distance (km)">Dist.</th>
                   <th scope="col" title="D+ cumulé (m)">D+</th>
                   <th scope="col" title="D- cumulé (m)">D-</th>
                   <th scope="col" title="Barrière horaire">B. hor.</th>
                   <th scope="col">Ravito</th>
                   <th scope="col">Relais</th>
                 </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Point 1</td>
                  <td>12</td>
                  <td>400</td>
                  <td>200</td>
                  <td>8h30</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Point 2</td>
                  <td>20</td>
                  <td>600</td>
                  <td>300</td>
                  <td>9h30</td>
                  <td>Eau</td>
                  <td>Relais 1 -> 2</td>
                </tr>
                <tr>
                  <td>Point 3</td>
                  <td>27</td>
                  <td>800</td>
                  <td>400</td>
                  <td>11h30</td>
                  <td>Solide</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Point 4</td>
                  <td>35</td>
                  <td>1000</td>
                  <td>700</td>
                  <td>12h30</td>
                  <td>Eau</td>
                  <td>Relais 2 -> 3</td>
                </tr>

                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>
    </section><!-- /Race Section -->


  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>