---
layout: page
title: "Covoiturage"
description: "Covoiturage: partager un trajet commun avec d’autres trailers passionnés et réduire les frais de route tout en pensant à la planète !"
permalink: /covoiturage/
---

<body class="covoiturage-page">

  {% include header.html %}

  <main class="main">

    {% include page-title.html
    title="Covoiturage"
    description="Organisez votre covoiturage avec togetzer"
    breadcrumb="Covoiturage"
    %}

    <!-- Resultat Section -->
    <section id="covoiturage-section" class="covoiturage-section section">

      <div class="container" data-aos="fade-up">


        <div class="row align-items-center">
          <div class="col-md-8 offset-md-2 d-flex flex-column justify-content-center">

            <p class="text-center mb-6" style="margin-bottom: 6em;">
              Nous tenons à ce que notre événement ait l’empreinte carbone la plus neutre possible. Pour cela, nous vous proposons une plateforme pour organiser vos covoiturages.
              Cela permet aussi de partager un trajet commun avec d’autres trailers passionnés et de réduire les frais de route tout en pensant à la planète !
            </p>

            <div class="d-flex flex-column align-items-center">
              <iframe style="border:none; width:412px; height:172px" src="https://togetzer.com/widget.php?params=YTo0OntzOjExOiJhcHBsaWVkVHlwZSI7czo1OiJldmVudCI7czo0OiJ0eXBlIjtzOjU6ImNhcnJlIjtzOjI6ImlkIjtzOjU6Ijc2MTA2IjtzOjc6Im9wdGlvbnMiO086Mjk6IklsbHVtaW5hdGVcU3VwcG9ydFxDb2xsZWN0aW9uIjoxOntzOjg6IgAqAGl0ZW1zIjthOjI6e3M6NToiY29sb3IiO3M6NDoibm9pciI7czo2OiJib3JkZXIiO3M6NzoiYXJyb25kaSI7fX19"></iframe>
            </div>

          </div>

        </div>
      </div>

    </section>

    {% include sponsors.html %}

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>