---
layout: page
title: Festa Trail - Inscriptions
permalink: /sinscrire-en-ligne/
---

<body class="buy-tickets-page">

  {% include header.html %}

  <main class="main">

    {% include page-title.html
    title="Inscriptions"
    description="Cette année, le chronométrage et les inscriptions sont gérés par ATS Sport<br>
    Le réglement est accessible dans la section Règlement ou sur le site ATS Sport."
    breadcrumb="Inscriptions"
    %}

    <!-- Buy Tickets Section -->
    <section id="buy-tickets" class="buy-tickets section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="text-center">
              <a href="https://ats-sport.com/epreuve.php?id_epreuve=9226&course=festa-trail-pic-saint-loup" class="btn btn-subscribe">
                S'inscrire via ATS Sport
              </a>
            </div>


            <div class="ticket-form-wrapper" data-aos="fade-up" data-aos-delay="200">
              <div class="event-info mb-5">
                <h3>Tarifs festa trail 2026</h3>
              </div>

              <div class="ticket-types" data-aos="fade-up" data-aos-delay="300">

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">105km - Ultra Draille - Solo</div>
                      <div class="ticket-description">
                        Dossard pour l'ultra en solo<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 400 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                        <span>✓ Navette en option <b>+ 10€</b></span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>95€</em> jusqu'au 31 décembre 2025</span><br>
                      <span class="normal-price"><em>110€</em> à partir du 1er janvier 2026</span><br>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">105km - Ultra Draille - Relais</div>
                      <div class="ticket-description">
                        Dossard pour l'ultra par équipe de 5<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 40 équipes</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                        <span>✓ Navette en option pour le premier relayeur <b>+ 10€</b></span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>125€/équipe</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">65km - Hérault Trail</div>
                      <div class="ticket-description">Dossard pour l'Hérault Trail</div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 500 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                        <span>✓ Navette en option <b>+ 10€</b></span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>60€</em> jusqu'au 31 décembre 2025</span><br>
                      <span class="normal-price"><em>75€</em> à partir du 1er janvier 2026</span><br>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">44km - Marathon de l'Hortus - Solo</div>
                      <div class="ticket-description">Dossard pour le marathon de l'Hortus en solo</div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 600 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                        <span>✓ Navette en option <b>+ 8€</b></span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>40€</em> jusqu'au 31 décembre 2025</span><br>
                      <span class="normal-price"><em>55€</em> à partir du 1er janvier 2026</span><br>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">44km - Marathon de l'Hortus - Relais</div>
                      <div class="ticket-description">
                        Dossard pour le marathon de l'Hortus par équipe de 2<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 50 équipes</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                        <span>✓ Navette en option pour le premier relayeur <b>+ 8€</b></span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>50€/équipe</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">24km - Tour du Pic Saint Loup</div>
                      <div class="ticket-description">
                        Dossard pour le tour du Pic Saint Loup<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 1000 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>23€</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">17km - Duo du Pic</div>
                      <div class="ticket-description">
                        Dossard pour le duo du Pic<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 250 équipes</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>40€/équipe</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">12km - La Cécélienne - Les Déesses Muettes</div>
                      <div class="ticket-description">
                        Dossard pour la Cécélienne - Les Déesses Muettes<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 600 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>14€</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">6km - La P'tite Boucle</div>
                      <div class="ticket-description">
                        Dossard pour la P'tite Boucles<br>
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 200 coureurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>10€</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">13km - La Marche Nordique</div>
                      <div class="ticket-description">
                        Dossard pour la Marche Nordique
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Limité à 200 marcheurs</span>
                        <span>✓ Date limite d'inscription: 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>14€</em></span>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">De 1 à 5km - Pitchou'Pic</div>
                      <div class="ticket-description">
                        Dossard pour la Pitchou'Pic
                      </div>
                      <div class="ticket-benefits">
                        <span>✓ Date limite d'inscription : 11 mai 2026</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="normal-price"><em>gratuit</em></span>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Buy Tickets Section -->

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>

