---
layout: page
title: Festa Trail - Inscriptions
permalink: /inscriptions
---

<body class="buy-tickets-page">

  {% include header.html %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1 class="heading-title">Inscriptions</h1>
              <p>
                Cette année, le chronométrage et les inscriptions sont gérés par ATS SPORT<br>
                Le réglement est accessible directement en ligne sur notre site <a href="/reglement">ici</a> ou sur le site ATS Sport.
              </p>
              <a href="" class="btn btn-subscribe">
                S'inscrire via ATS Sport
              </a>

              <p class="urgency-bar">
                Le transfert de dossard est possible / n'est pas possible (en cas d'imprévu / blessure)
              </p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Inscription</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Buy Tickets Section -->
    <section id="buy-tickets" class="buy-tickets section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="ticket-form-wrapper" data-aos="fade-up" data-aos-delay="200">
              <div class="event-info mb-5">
                <h3>Tarifs festa trail 2026</h3>
              </div>

              <div class="ticket-types" data-aos="fade-up" data-aos-delay="300">

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">105km - Ultra Draille - Solo</div>
                      <div class="ticket-description">Dossard pour l'ultra en solo</div>
                      <div class="ticket-benefits">
                        <span>✓ Ravitos</span>
                        <span>✓ Navette</span>
                        <span>✓ Repas</span>
                        <span>✓ Lot bienvenue</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>90€</em> jusqu'au 5 avril 2026</span><br>
                      <span class="normal-price"><em>100€</em> à partir du 6 avril 2026</span><br>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">105km - Ultra Draille - Relais</div>
                      <div class="ticket-description">Dossard pour l'ultra par équipe de 5</div>
                      <div class="ticket-benefits">
                        <span>✓ Ravitos</span>
                        <span>✓ Navette</span>
                        <span>✓ Repas</span>
                        <span>✓ Lot bienvenue</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>40€/pers</em> jusqu'au 5 avril 2026</span><br>
                      <span class="normal-price"><em>50€/pers</em> à partir du 6 avril 2026</span><br>
                    </div>
                  </div>
                </div>

                <div class="ticket-option">
                  <div class="ticket-label">
                    <div class="ticket-info">
                      <div class="ticket-name">65km - Hérault Trail</div>
                      <div class="ticket-description">Dossard pour l'Hérault Trail</div>
                      <div class="ticket-benefits">
                        <span>✓ Ravitos</span>
                        <span>✓ Navette</span>
                        <span>✓ Repas</span>
                        <span>✓ Lot bienvenue</span>
                      </div>
                    </div>
                    <div class="ticket-price">
                      <span class="early-price"><em>90€</em> jusqu'au 5 avril 2026</span><br>
                      <span class="normal-price"><em>100€</em> à partir du 6 avril 2026</span><br>
                    </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Buy Tickets Section -->

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>

