---
layout: page
title: Festa Trail - Partenaires
permalink: /partenaires/
---

<body class="terms-page">

{% include header.html %}

  <main class="main">

    <div class="page-title">

      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Festa</a></li>
            <li class="current">Partenaires</li>
          </ol>
        </div>
      </nav>
    </div>

    {% include sponsors.html %}

    <section id="challenge" class="section">

      <div class="container section-title">
        <h2>Courses et évènements partenaires</h2>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="{{ '/assets/img/sponsors/challenge-psl.jpg' | relative_url }}">
          </div>
          <div class="col-md-6">
            <h2>Le Challenge du Pic Saint-Loup</h2>
            <p>
              Créé en 2012 à l’initiative de la Communauté de communes, le Challenge du Pic Saint-Loup vise à promouvoir le territoire à travers le sport. Basé sur des courses pédestres « hors stade » se déroulant sur le territoire, il ne cesse de s’ouvrir à de nouvelles épreuves.
            </p>
            <p>
              Inscrites dans un même périmètre, elles défendent des valeurs communes, entre esprit sportif, solidarité et respect de l’environnement, et sont activement soutenues par la Communauté de communes.
            </p>
            <p>
              Établi d’après le classement aux différentes épreuves, le Challenge du Pic Saint-Loup permet aux participants, occasionnels ou chevronnés, de se situer dans une hiérarchie sportive sur un territoire à dimension humaine, et qui leur est proche.
            </p>
            <a href="https://grandpicsaintloup.fr/le-grand-pic-saint-loup/evenements/challenge-du-pic-saint-loup/">En savoir plus</a>
          </div>
        </div>

      </div>
    </section>

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>