---
layout: page
title: Festa Trail - Programme
permalink: /programme/
---

<body class="index-page">

  {% include header.html %}

  <main class="main">

    <!-- Schedule Section -->
    <section id="schedule" class="schedule section">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Programme</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="schedule-header">
          <ul class="nav nav-tabs" id="schedule-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="schedule-tab-1" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane-1" type="button" role="tab" aria-controls="schedule-tab-pane-1" aria-selected="true">Vendredi<br>15/05/2026</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="schedule-tab-2" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane-2" type="button" role="tab" aria-controls="schedule-tab-pane-2" aria-selected="false">Samedi<br>16/05/2026</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="schedule-tab-3" data-bs-toggle="tab" data-bs-target="#schedule-tab-pane-3" type="button" role="tab" aria-controls="schedule-tab-pane-3" aria-selected="false">Dimanche<br>17/05/2026</button>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="schedule-tabContent">

          <div class="tab-pane fade show active" id="schedule-tab-pane-1" role="tabpanel" aria-labelledby="schedule-tab-1" tabindex="0">
            <div class="schedule-content">
              <div class="session-timeline">

                {% include calendar-event.html
                start="14:00" end="19:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Salon Festa Trail"
                description=""%}

                {% include calendar-event.html
                start="14:00" end="19:00" type="dossards" spot="Saint-Mathieu-de-Tréviers"
                title="Retrait des dossards"
                description=""%}

                {% include calendar-event.html
                start="14:00" end="19:00" type="repas" spot="Saint-Mathieu-de-Tréviers"
                title="Buvette et Food trucks"
                description=""%}

                {% include calendar-event.html
                start="17:30" type="briefing" spot="Saint-Mathieu-de-Tréviers"
                title="Buvette et Food trucks"
                description=""%}

                {% include calendar-event.html
                start="18:30" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Inauguration du Festa Trail"
                description=""%}
                
              </div><!-- End Session Timeline -->
            </div><!-- End Schedule Content -->
          </div>

          <div class="tab-pane fade" id="schedule-tab-pane-2" role="tabpanel" aria-labelledby="schedule-tab-2" tabindex="0">
            <div class="schedule-content">
              <div class="session-timeline">

                {% include calendar-event.html
                start="5:00" type="navette" spot="Saint-Mathieu-de-Tréviers"
                title="Départ navette Ultra Draille"
                description=""%}

                {% include calendar-event.html
                start="6:30" type="course" spot="Brissac"
                title="Départ Ultra Draille"
                description=""%}

                {% include calendar-event.html
                start="7:00" type="navette" spot="Saint-Mathieu-de-Tréviers"
                title="Départ navette Hérault Trail"
                description=""%}

                {% include calendar-event.html
                start="8:30" type="course" spot="Brissac"
                title="Départ Hérault Trail"
                description=""%}

                {% include calendar-event.html
                start="09:00" end="19:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Salon Festa Trail"
                description=""%}

                {% include calendar-event.html
                start="09:00" end="19:00" type="dossards" spot="Saint-Mathieu-de-Tréviers"
                title="Retrait des dossards"
                description=""%}

                {% include calendar-event.html
                start="09:00" end="19:00" type="repas" spot="Saint-Mathieu-de-Tréviers"
                title="Buvette et Food trucks"
                description=""%}

                {% include calendar-event.html
                start="10:00" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Pitchoupic 1"
                description=""%}

                {% include calendar-event.html
                start="10:30" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Pitchoupic 2"
                description=""%}

                {% include calendar-event.html
                start="10:30" type="navette" spot="Saint-Mathieu-de-Tréviers"
                title="Départ navette Duo du Pic"
                description=""%}

                {% include calendar-event.html
                start="11:00" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Pitchoupic 3"
                description=""%}

                {% include calendar-event.html
                start="11:30" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Pitchoupic 4"
                description=""%}

                {% include calendar-event.html
                start="12:00" type="course" spot="Saint-Martin-de-Londres"
                title="Départ Duo du Pic"
                description=""%}

                {% include calendar-event.html
                start="12:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Pitchoupic 3 et 4"
                description=""%}

                {% include calendar-event.html
                start="13:00" end="19:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Animation musicale La Banda Bonhomme"
                description=""%}

                {% include calendar-event.html
                start="15:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Duo du Pic"
                description=""%}

                {% include calendar-event.html
                start="17:30" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Hérault Trail"
                description=""%}

                {% include calendar-event.html
                start="18:30" type="course" spot="Saint-Martin-de-Londres"
                title="Départ Cécélienne"
                description=""%}

                {% include calendar-event.html
                start="20:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Ultra Draille relais de 5"
                description=""%}

                {% include calendar-event.html
                start="20:30" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Ultra Draille"
                description=""%}

                {% include calendar-event.html
                start="21:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Cécélienne"
                description=""%}


              </div><!-- End Session Timeline -->
            </div><!-- End Schedule Content -->
          </div>

          <div class="tab-pane fade" id="schedule-tab-pane-3" role="tabpanel" aria-labelledby="schedule-tab-3" tabindex="0">
            <div class="schedule-content">
              <div class="session-timeline">

                {% include calendar-event.html
                start="5:50" type="navette" spot="Saint-Mathieu-de-Tréviers"
                title="Départ navette Marathon de l'Hortus"
                description=""%}

                {% include calendar-event.html
                start="06:00" end="9:00" type="dossards" spot="Saint-Mathieu-de-Tréviers"
                title="Retrait des dossards"
                description=""%}

                {% include calendar-event.html
                start="07:00" type="course" spot="Claret"
                title="Départ Marathon de l'Hortus"
                description=""%}

                {% include calendar-event.html
                start="08:30" type="rando" spot="Saint-Mathieu-de-Tréviers"
                title="Départ rando du Pic"
                description=""%}

                {% include calendar-event.html
                start="08:30" end="13:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Animation musicale Batucapic"
                description=""%}

                {% include calendar-event.html
                start="09:00" end="16:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Salon Festa Trail"
                description=""%}

                {% include calendar-event.html
                start="09:00" end="16:00" type="repas" spot="Saint-Mathieu-de-Tréviers"
                title="Buvette et Food trucks"
                description=""%}

                {% include calendar-event.html
                start="09:00" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Tour du Pic Saint-Loup"
                description=""%}

                {% include calendar-event.html
                start="10:00" type="course" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Pt'ite Boucle"
                description=""%}

                {% include calendar-event.html
                start="10:00" type="rando" spot="Saint-Mathieu-de-Tréviers"
                title="Départ Rando des Avants"
                description=""%}

                {% include calendar-event.html
                start="12:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Pt'ite Boucle"
                description=""%}

                {% include calendar-event.html
                start="12:00" end="15:00" type="repas" spot="Saint-Mathieu-de-Tréviers"
                title="Repas vigneron"
                description=""%}

                {% include calendar-event.html
                start="12:30" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Tour du Pic Saint-Loup"
                description=""%}

                {% include calendar-event.html
                start="13:00" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Marathon de l'Hortus relais de 2"
                description=""%}

                {% include calendar-event.html
                start="13:30" type="podium" spot="Saint-Mathieu-de-Tréviers"
                title="Podium Marathon de l'Hortus"
                description=""%}

                {% include calendar-event.html
                start="15:00" type="animation" spot="Saint-Mathieu-de-Tréviers"
                title="Accueil du dernier coureur"
                description=""%}


              </div><!-- End Session Timeline -->
            </div><!-- End Schedule Content -->
          </div>

        </div><!-- End Tab Content -->

      </div>

    </section><!-- /Schedule Section -->
    
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>