---
layout: page
title: Festa Trail - Règlement
permalink: /reglement
---

<body class="terms-page">

{% include header.html %}

  <main class="main">

    <div class="page-title">

      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="/">Festa</a></li>
            <li class="current">Règlement du Festa Trail</li>
          </ol>
        </div>
      </nav>
    </div>



    <!-- Terms Of Service Section -->
    <section id="terms-of-service" class="terms-of-service section">

      <div class="container" data-aos="fade-up">


        <div class="row">
          <div class="col-lg-3">
            <nav class="sommaire">
              <!-- ÉTHIQUE -->
              <a href="#ethique" class="level-2">1. Éthique</a>
              <a href="#personne" class="level-3">1.1. Respect des personnes</a>
              <a href="#faune" class="level-3">1.2. Respecter la faune et la flore</a>
              <a href="#partage" class="level-3">1.3. Partage et solidarité</a>
              <a href="#limite" class="level-3">1.4. Exploration de ses limites</a>

              <!-- ORGANISATEUR -->
              <a href="#organisateur" class="level-2">2. Organisateur</a>

              <!-- ÉPREUVES -->
              <a href="#epreuves" class="level-2">3. Épreuves</a>
              <a href="#les-courses" class="level-3">3.1. Les courses</a>
              <a href="#ultra-draille" class="level-4">Ultra Draille</a>
              <a href="#ultra-draille-relais-5" class="level-4">Ultra Draille en relais de 5</a>
              <a href="#herault-trail" class="level-4">Hérault Trail</a>
              <a href="#marathon-hortus" class="level-4">Marathon de l’Hortus</a>
              <a href="#marathon-hortus-relais-2" class="level-4">Marathon de l’Hortus en relais de 2</a>
              <a href="#duo-pic" class="level-4">Duo du Pic</a>
              <a href="#tour-pic-saint-loup" class="level-4">Tour du Pic Saint-Loup</a>
              <a href="#cecelienne-deesses-muettes" class="level-4">Cécélienne Les Déesses Muettes</a>
              <a href="#marche-nordique" class="level-4">Marche Nordique</a>
              <a href="#pitchoupic-1" class="level-4">Pitchou’Pic 1</a>
              <a href="#pitchoupic-2" class="level-4">Pitchou’Pic 2</a>
              <a href="#pitchoupic-3" class="level-4">Pitchou’Pic 3</a>
              <a href="#pitchoupic-4" class="level-4">Pitchou’Pic 4</a>

              <a href="#les-randonnees" class="level-3">3.2. Les randonnées</a>
              <a href="#balade-avants" class="level-4">La balade de Avants</a>
              <a href="#rando-pic" class="level-4">La rando du Pic</a>

              <a href="#conditions-participation" class="level-3">3.3. Conditions de participation</a>
              <a href="#materiel-obligatoire" class="level-3">3.4. Matériel obligatoire</a>
              <a href="#ravitaillements" class="level-3">3.5. Ravitaillements</a>
              <a href="#postes-controle" class="level-3">3.6. Postes de contrôle</a>
              <a href="#barrieres-horaires" class="level-3">3.7. Barrières horaires</a>
              <a href="#conditions-exceptionnelles" class="level-3">3.8. Conditions exceptionnelles</a>
              <a href="#securite-assistance-medicale" class="level-3">3.9. Sécurité et assistance médicale</a>
              <a href="#abandons-rapatriements" class="level-3">3.10. Abandons et rapatriements</a>
              <a href="#controle-anti-dopage" class="level-3">3.11. Contrôle anti-dopage</a>
              <a href="#respect-reglement" class="level-3">3.12. Respect du règlement</a>

              <!-- INSCRIPTIONS -->
              <a href="#inscriptions" class="level-2">4. Inscriptions</a>
              <a href="#modalites-inscriptions" class="level-3">4.1. Modalités d’inscriptions</a>
              <a href="#inscription-navettes" class="level-3">4.2. Inscription navettes</a>
              <a href="#assurance-annulation" class="level-3">4.3. Assurance annulation</a>
              <a href="#dossards" class="level-3">4.4. Dossards</a>

              <!-- CLASSEMENTS -->
              <a href="#classements-recompenses" class="level-2">5. Classements et récompenses</a>

              <!-- ASSURANCES -->
              <a href="#assurances" class="level-2">6. Assurances</a>
              <a href="#responsabilite-civile" class="level-3">6.1. Responsabilité civile</a>
              <a href="#individuelle-accident" class="level-3">6.2. Individuelle accident</a>

              <!-- DROIT & DONNÉES -->
              <a href="#droit-image" class="level-2">7. Droit à l’image</a>
              <a href="#protection-donnees-personnelles" class="level-2">8. Protection des données personnelles</a>
            </nav>

          </div>

          <div class="col-lg-9">
        <!-- Content -->
        <div class="tos-content" data-aos="fade-up" data-aos-delay="200">

          <!-- Page Header -->
          <div class="tos-header text-center" data-aos="fade-up">
            <h1>Règlement du Festa Trail</h1>
            <span class="last-updated">Dernière mise à jour: 19 décembre 2025</span>
          </div>

          <div class="content-section">
            <div class="alert-box">
              <i class="bi bi-exclamation-triangle"></i>
              <div class="alert-content">
                <h5>Important</h5>
                <p>La participation à l’une des courses du Festa Trail entraîne l’acceptation sans réserve du présent règlement.<br>
                  Nous vous demandons de le lire attentivement et de le respecter scrupuleusement pour que l’environnement de la course soit un plaisir pour tous, tout au long du week-end.
                </p>
              </div>
            </div>
          </div>

          <div id="ethique" class="section-title">
            <h2>1. ÉTHIQUE</h2>
          </div>

          <div class="content-section">
            <p>L’objectif de la manifestation est de promouvoir les richesses patrimoniales naturelles et culturelles du territoire, le Pic Saint-Loup évidemment mais aussi la Vallée de l’Hérault, les Causses et Cévennes. Les différentes épreuves évoluent dans des paysages magnifiques ouverts gracieusement par des propriétaires privés comme publics. Nous avons conçu un événement écoresponsable. Nous souhaitons donc que les athlètes et leurs accompagnants prennent conscience de leur impact sur l’environnement et le limitent au maximum tout au long de leur parcours.</p>
          </div>

          <div id="personne" class="content-section">
            <h3>1.1. Respect des personnes</h3>
            <p>
              Respect de soi et des autres en ne s'autorisant aucune forme de triche.<br>
              Respect des bénévoles qui eux aussi participent pour le plaisir.<br>
              Respect de la population locale qui accueille la course.<br>
              Respect de l'organisation et de ses partenaires.<br>
              Respect des randonneurs qui empruntent les mêmes sentiers Respect de la nature Ne jamais rien jeter au sol.
            </p>
          </div>

          <div id="faune" class="content-section">
            <h3>1.2. Respecter la faune et la flore</h3>
            <p>
              Ne pas crier afin d'éviter de déranger la faune sauvage.<br>
              Ne pas couper les sentiers car cela provoque une érosion dommageable du site.<br>
              Privilégier, pour soi et pour ses accompagnants, l'utilisation des transports en commun ou du co-voiturage
            </p>

          </div>

          <div id="partage" class="content-section">
            <h3>1.3. Partage et solidarité</h3>
            <p>
              Venir prioritairement en aide à toute personne en danger ou en difficulté.<br>
              Soutenir les trailers Respecter le balisage, garant de votre orientation
            </p>
          </div>

          <div id="limite" class="content-section">
            <h3>1.4. Exploration de ses limites</h3>
            <p>
              Apprendre à se connaître soi-même et développer son autonomie afin d'aller au maximum de son engagement dans le respect de son intégrité physique et morale.
            </p>
          </div>

          <div id="organisateur" class="section-title">
            <h2>2. ORGANISATEUR</h2>
            <br>
            <p>
              Association Festa Trail<br>
              Mairie de Saint-Mathieu-de-Tréviers<br>
              34270 Saint-Mathieu-de-Tréviers<br>
              06 70 03 67 91
            </p>
          </div>
          <div class="content-section">
            <p>
              L'association Festa Trail organise le Festa Trail Pic Saint-Loup avec le concours des communes de Brissac, Causse-de-la-Selle, Cazevieille, Claret, Lauret, Mas- de-Londres, Pégairolles-de-Buèges, Sainte-Croix-de-Quintillargues, Saint- Guilhem-le-Désert, Saint-Jean-de-Buèges, Saint-Martin-de-Londres, Saint- Mathieu-de-Tréviers et Valflaunès.
            </p>
          </div>

          <div id="epreuves" class="section-title">
            <h2>3. ÉPREUVES</h2>
          </div>
          <div class="content-section">
            <p>
              Le Festa Trail Pic Saint-Loup est un événement au sein duquel sont proposées plusieurs épreuves de pleine nature, empruntant des sentiers dans l'Hérault. Chaque épreuve se déroule en une seule étape, à allure libre, en un temps limité. Compte tenu de la distance, certaines épreuves se déroulent de jour et de nuit. Les coureurs doivent impérativement respecter le code de la route lorsque le parcours emprunte ou traverse des voies de circulation.
            </p>
          </div>


          <div id="les-courses" class="content-section">
            <h3>3.1. Les courses</h3>
          </div>

          {% assign t = site.data.dates-tarifs %}

          <div id="ultra-draille" class="content-section">
            <h4>Ultra Draille</h4>
            {% assign ud = site.data.ultra-draille %}
            <ul class="list-items">
              <li>Environ {{ ud.distance }} pour environ {{ ud.denivele }}</li>
              <li>Ouvert à toute personne, homme ou femme, née en {{ ud.annee_min }} ou avant (catégories espoir à master)</li>
              <li>Départ le {{ ud.date }} de {{ ud.lieu_depart }} à {{ ud.heure }}</li>
              <li>Arrivée à {{ ud.lieu_arrivee }}</li>
              <li>Maximum {{ ud.limite_duree }}.</li>
              <li>Limité à {{ ud.limite_coureurs }} coureurs</li>
              <li>Tarif inscription: {{ ud.tarif_reduit }} du {{ t.tarif_reduit_debut }} au {{ t.tarif_reduit_fin }}, {{ ud.tarif_normal }} du {{ t.tarif_normal_debut }} au {{ t.tarif_normal_fin }}</li>
              <li>Option navette: {{ ud.tarif_navette }}</li>
            </ul>
          </div>

          <div id="ultra-draille-relais-5" class="content-section">
            <h4>Ultra Draille en relais de 5</h4>
          </div>

          <div id="herault-trail" class="content-section">
            <h4>Hérault Trail</h4>
          </div>

          <div id="marathon-hortus" class="content-section">
            <h4>Marathon de l’Hortus</h4>
          </div>

          <div id="marathon-hortus-relais-2" class="content-section">
            <h4>Marathon de l’Hortus en relais de 2</h4>
          </div>

          <div id="duo-pic" class="content-section">
            <h4>Duo du Pic</h4>
          </div>

          <div id="tour-pic-saint-loup" class="content-section">
            <h4>Tour du Pic Saint-Loup</h4>
          </div>

          <div id="cecelienne-deesses-muettes" class="content-section">
            <h4>Cécélienne Les Déesses Muettes</h4>
          </div>

          <div id="marche-nordique" class="content-section">
            <h4>Marche Nordique</h4>
          </div>

          <div id="pitchoupic-1" class="content-section">
            <h4>Pitchou’Pic 1</h4>
          </div>

          <div id="pitchoupic-2" class="content-section">
            <h4>Pitchou’Pic 2</h4>
          </div>

          <div id="pitchoupic-3" class="content-section">
            <h4>Pitchou’Pic 3</h4>
          </div>

          <div id="pitchoupic-4" class="content-section">
            <h4>Pitchou’Pic 4</h4>
          </div>

          <div id="les-randonnees" class="content-section">
            <h3>LES RANDONNÉES</h3>
          </div>

          <div id="balade-avants" class="content-section">
            <h4>La balade de Avants</h4>
          </div>

          <div id="rando-pic" class="content-section">
            <h4>La rando du Pic</h4>
          </div>

          <div id="conditions-participation" class="content-section">
            <h3>LES CONDITIONS DE PARTICIPATION</h3>
          </div>

          <div id="materiel-obligatoire" class="content-section">
            <h3>LE MATÉRIEL OBLIGATOIRE</h3>
          </div>

          <div id="ravitaillements" class="content-section">
            <h3>LES RAVITAILLEMENTS</h3>
          </div>

          <div id="postes-controle" class="content-section">
            <h3>LES POSTES DE CONTRÔLE</h3>
          </div>

          <div id="barrieres-horaires" class="content-section">
            <h3>LES BARRIÈRES HORAIRES</h3>
          </div>

          <div id="conditions-exceptionnelles" class="content-section">
            <h3>LES CONDITIONS EXCEPTIONNELLES</h3>
          </div>

          <div id="securite-assistance-medicale" class="content-section">
            <h3>LA SÉCURITE ET L’ASSISTANCE MÉDICALE</h3>
          </div>

          <div id="abandons-rapatriements" class="content-section">
            <h3>LES ABANDONS ET RAPATRIEMENTS</h3>
          </div>

          <div id="controle-anti-dopage" class="content-section">
            <h3>LE CONTRÔLE ANTI-DOPAGE</h3>
          </div>

          <div id="respect-reglement" class="content-section">
            <h3>LE RESPECT DU RÈGLEMENT</h3>
          </div>

          <div id="inscriptions" class="content-section">
            <h2>INSCRIPTIONS</h2>
          </div>

          <div id="modalites-inscriptions" class="content-section">
            <h3>Modalités d’inscriptions</h3>
          </div>

          <div id="inscription-navettes" class="content-section">
            <h3>Inscription navettes</h3>
          </div>

          <div id="assurance-annulation" class="content-section">
            <h3>Assurance annulation</h3>
          </div>

          <div id="dossards" class="content-section">
            <h3>Dossards</h3>
          </div>

          <div id="classements-recompenses" class="content-section">
            <h2>CLASSEMENTS ET RÉCOMPENSES</h2>
          </div>

          <div id="assurances" class="content-section">
            <h2>ASSURANCES</h2>
          </div>

          <div id="responsabilite-civile" class="content-section">
            <h3>Responsabilité civile</h3>
          </div>

          <div id="individuelle-accident" class="content-section">
            <h3>Individuelle accident</h3>
          </div>

          <div id="droit-image" class="content-section">
            <h2>DROIT À L’IMAGE</h2>
          </div>

          <div id="protection-donnees-personnelles" class="content-section">
            <h2>PROTECTIONS DES DONNÉES PERSONNELLES</h2>
          </div>



          <!-- Agreement Section -->
          <div id="agreement" class="content-section">
            <h3>Respect des personnes</h3>
            <p>By accessing our website and services, you agree to be bound by these Terms of Service and all applicable laws and regulations. If you do not agree with any of these terms, you are prohibited from using or accessing our services.</p>
            <div class="info-box">
              <i class="bi bi-info-circle"></i>
              <p>These terms apply to all users, visitors, and others who access or use our services.</p>
            </div>
          </div>

          <!-- Intellectual Property -->
          <div id="intellectual-property" class="content-section">
            <h3>2. Intellectual Property Rights</h3>
            <p>Our service and its original content, features, and functionality are owned by us and are protected by international copyright, trademark, patent, trade secret, and other intellectual property laws.</p>
            <ul class="list-items">
              <li>All content is our exclusive property</li>
              <li>You may not copy or modify the content</li>
              <li>Our trademarks may not be used without permission</li>
              <li>Content is for personal, non-commercial use only</li>
            </ul>
          </div>

          <!-- User Accounts -->
          <div id="user-accounts" class="content-section">
            <h3>3. User Accounts</h3>
            <p>When you create an account with us, you must provide accurate, complete, and current information. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account.</p>
            <div class="alert-box">
              <i class="bi bi-exclamation-triangle"></i>
              <div class="alert-content">
                <h5>Important Notice</h5>
                <p>You are responsible for safeguarding the password and for all activities that occur under your account.</p>
              </div>
            </div>
          </div>

          <!-- Prohibited Activities -->
          <div id="prohibited" class="content-section">
            <h3>4. Prohibited Activities</h3>
            <p>You may not access or use the Service for any purpose other than that for which we make it available.</p>
            <div class="prohibited-list">
              <div class="prohibited-item">
                <i class="bi bi-x-circle"></i>
                <span>Systematic retrieval of data or content</span>
              </div>
              <div class="prohibited-item">
                <i class="bi bi-x-circle"></i>
                <span>Publishing malicious content</span>
              </div>
              <div class="prohibited-item">
                <i class="bi bi-x-circle"></i>
                <span>Engaging in unauthorized framing</span>
              </div>
              <div class="prohibited-item">
                <i class="bi bi-x-circle"></i>
                <span>Attempting to gain unauthorized access</span>
              </div>
            </div>
          </div>

          <!-- Disclaimers -->
          <div id="disclaimer" class="content-section">
            <h3>5. Disclaimers</h3>
            <p>Your use of our service is at your sole risk. The service is provided "AS IS" and "AS AVAILABLE" without warranties of any kind, whether express or implied.</p>
            <div class="disclaimer-box">
              <p>We do not guarantee that:</p>
              <ul>
                <li>The service will meet your requirements</li>
                <li>The service will be uninterrupted or error-free</li>
                <li>Results from using the service will be accurate</li>
                <li>Any errors will be corrected</li>
              </ul>
            </div>
          </div>

          <!-- Limitation of Liability -->
          <div id="limitation" class="content-section">
            <h3>6. Limitation of Liability</h3>
            <p>In no event shall we be liable for any indirect, punitive, incidental, special, consequential, or exemplary damages arising out of or in connection with your use of the service.</p>
          </div>



          <!-- Changes -->
          <div id="changes" class="content-section">
            <h3>10. Changes to Terms</h3>
            <p>We reserve the right to modify or replace these Terms at any time. We will provide notice of any changes by posting the new Terms on this page.</p>
            <div class="notice-box">
              <i class="bi bi-bell"></i>
              <p>By continuing to access or use our service after those revisions become effective, you agree to be bound by the revised terms.</p>
            </div>
          </div>











</div>
          </div>




        </div>

      </div>

    </section><!-- /Terms Of Service Section -->

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>