---
layout: page
title: "Résultats"
description: "Résultats du Festa Trail! Classements officiels de toutes les courses des 3 dernières éditions."
permalink: /resultats/
---

<body class="resultat-page">

  {% include header.html %}

  <main class="main">

    {% include page-title.html
    title="Résultats"
    description="Classements officiels de toutes les courses des 3 dernières éditions."
    breadcrumb="Résultats"
    %}

    <!-- Resultat Section -->
    <section id="resultat-section" class="resultat-section section">

      <div class="container" data-aos="fade-up">


        <div class="row align-items-center">
          <div class="col-md-8 d-flex flex-column justify-content-center">

            <p class="text-center mb-5">
              Choisissez votre édition ci-dessous pour consulter les résultats détaillés.
            </p>

            <div class="d-flex flex-column align-items-center">
              <a href="https://www.endurancechrono.com/fr/Festatrail_10" class="btn btn-subscribe">Résultats 2025</a><br/>
              <a href="https://www.endurancechrono.com/fr/Festatrail_9" class="btn btn-subscribe">Résultats 2024</a><br/>
              <a href="https://www.endurancechrono.com/fr/Festatrail_8" class="btn btn-subscribe">Résultats 2023</a><br/>
            </div>

          </div>

          <div class="col-md-4">
            <img class="img-fluid" src="{{ '/assets/img/resultat/arrivee.jpg' | relative_url }}" style="border-radius: 20px;" alt="Arrivée d'une traileuse">
          </div>

        </div>
      </div>

    </section><!-- /Resultat Section -->

    {% include sponsors.html %}

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>